@use "var";

.page_typing_container {
	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: var.$background-color;
}

.page_typing_container_completed {
	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	animation: 2s linear innerPopFade;
}

@keyframes innerPopFade {
	0% {
		box-shadow: none;
	}
	10% {
		box-shadow: inset 0 0 3rem rgba(255, 255, 255, 0.5);
	}
	100% {
		box-shadow: none;
	}
}
