/* TODO: split in multiple files */

/* TODO: add:
Courier Prime
Sono
Syne Mono
*/

$background-color: hsl(0, 0%, 20%);

body {
	font-family: sans-serif;
	text-align: center;
}

.page_typing_container {
	width: 100vw;
	height: 100vh;

	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: $background-color;
}

.typing_field {
	width: 100vw;
	height: 12.5rem;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-family: 'Sono', monospace;
	font-size: 5rem;

	.prev {
		color: #111;
		opacity: 0.5;
		text-align: right;
		text-overflow: clip;
		overflow: hidden;
		min-width: 0;
		flex: 1;
	}

	.current {
		color: white;
		text-align: center;
		flex: 0 1 auto;
	}

	.next {
		color: gray;
		text-align: left;
		text-overflow: clip;
		overflow: hidden;
		min-width: 0;
		flex: 1;
	}
}

progress {
	height: 1.25rem;
	width: 16rem;
	max-width: 40vw;

	transition: all 300ms ease-out;

	background-color: #000;
	border-radius: 42rem;
	color: #000;

	overflow: hidden;
}

progress::-webkit-progress-bar {
	transition: all 300ms ease-out;

	background-color: hsl(0, 0%, 30%);
	border-radius: 42rem;

	overflow: hidden;
}

progress::-webkit-progress-value {
	transition: all 300ms ease-out;

	background-color: hsl(0, 0%, 50%);
	border-radius: 42rem;

	overflow: hidden;
}

progress::-moz-progress-bar {
	transition: all 300ms ease-out;

	background-color: hsl(0, 0%, 50%);
	border-radius: 42rem;

	overflow: hidden;
}
