/* TODO: split in multiple files */

@use "var";
@use "page_typing";
@use "progress";

@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Sono:wght@200..800&family=Syne+Mono&display=swap");

body {
	all: unset;
}

//

.typing_field {
	width: 100vw;
	height: 12.5rem;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-family: "Sono", monospace;
	font-size: 5rem;

	.prev {
		color: #111;
		opacity: 0.5;
		text-align: right;
		text-overflow: clip;
		overflow: hidden;
		min-width: 0;
		flex: 1;
	}

	.current {
		color: white;
		text-align: center;
		flex: 0 1 auto;
	}

	.next {
		color: gray;
		text-align: left;
		text-overflow: clip;
		overflow: hidden;
		min-width: 0;
		flex: 1;
	}
}

//

.wrong_key_animation_container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.wrong_key_animation {
	position: absolute;
	top: 60vh;
	left: calc(50vw - (7rem / 3));

	text-align: center;

	font-family: "Syne Mono", monospace;
	font-size: 7rem;
	font-weight: bold;

	animation: grow-rotate-fall 1s ease-out forwards;
}

@keyframes grow-rotate-fall {
	0% {
		transform: scale(0.8) rotate(0deg);
		color: hsl(0, 65%, 60%);
		text-shadow: 0 0 0.5rem hsl(0, 65%, 60%);
		opacity: 1;
	}
	10% {
		transform: scale(1.25) rotate(0deg);
		color: hsl(0, 65%, 50%);
		text-shadow: 0 0 0.5rem hsl(0, 65%, 50%);
		opacity: 1;
	}
	100% {
		transform: scale(1) rotate(20deg) translateY(4rem) translateX(2rem);
		color: hsl(0, 0, 0);
		text-shadow: 0 0 0.5rem var.$background-color;
		opacity: -0.5;
	}
}

//

.stats_ongoing_container {
	justify-content: center;
	align-items: center;

	.item {
		position: fixed;

		margin-top: -2rem;

		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		text-align: right;

		.value {
			margin-top: 0.5rem;

			font-family: "Courier Prime", monospace;
			font-size: 2rem;
		}

		.unit {
			font-family: "Sono", monospace;
			font-size: 1.25rem;

			color: hsl(0, 0%, 70%);
		}
	}
}
